/* import styleGuide ---------------------*/
/*------
0 - 767px: phone
767 - 900px: tab-portrait
900 - 1200px: tab-landscape
[1200 - 1800] is regular style apply
---------*/
/*------- 
- phone
- tab_port
- tab_land
1em = 16px
--------*/
/*------------------------ base style ------------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, img, div, figure, section, ul, ol, li, table, tbody, thead {
  margin: 0;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: acumin-pro, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  background-color: #ffffff;
}

.container {
  max-width: 1170px;
  padding: 0;
}

@media only screen and (max-width: 47.94em) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

h1 {
  font-size: 7.2rem;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 7.2rem;
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 47.94em) {
  h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

h2 {
  font-size: 5.8rem;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 5.2rem;
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 47.94em) {
  h2 {
    font-size: 3rem;
    line-height: 3.3rem;
  }
}

h3 {
  font-size: 3.6rem;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 47.94em) {
  h3 {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
}

h4 {
  font-size: 2rem;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.05em;
}

@media only screen and (max-width: 47.94em) {
  h4 {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }
}

p {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
}

@media only screen and (max-width: 47.94em) {
  p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.disclaimer-reg {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.disclaimer-bold {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
}

.p-small {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.copyright-text {
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 0.02em;
}

/* ------------------------ Buttons -----------------------------*/
.button {
  font-family: rift, sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #2152FF;
  background-color: transparent;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  max-width: fit-content;
  text-align: center;
  white-space: nowrap;
  /*--- for button ---*/
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button-primary {
  color: #FCFDFF;
  background-color: #2152FF;
}

.button-primary:hover {
  background-color: #204ceb;
}

.button-primary:focus {
  outline: none;
}

.buy-now {
  max-width: 25.9rem;
  padding: 1.53rem 1rem;
}

@media only screen and (max-width: 47.94em) {
  .buy-now {
    max-width: 13.46rem;
    padding: 1.12rem 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: -0.03em;
  }
}

.buy-now-lg {
  max-width: 22.4rem;
  padding: 2rem 1rem;
}

@media only screen and (max-width: 47.94em) {
  .buy-now-lg {
    max-width: 20.8rem;
    padding: 1.5rem 1rem;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }
}

.button-large {
  max-width: 26.8rem;
  padding: 2rem 1rem;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding-right: 2rem;
  letter-spacing: 0.07em;
}

@media only screen and (max-width: 47.94em) {
  .button-large {
    max-width: 100%;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.05em;
  }
}

.button-icon::after {
  content: "\f061";
  font-family: FontAwesome;
  font-size: 14px;
  margin-left: 28px;
  position: absolute;
}

@media only screen and (max-width: 47.94em) {
  .button-icon::after {
    content: none;
  }
}

/*------------ links -------------------*/
.a-link {
  font-size: 2rem;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: -0.05em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #2152FF;
}

.a-link:hover {
  color: #204ceb;
}

/* ----------------------- font weight ---------------------------*/
.font-bold {
  font-weight: 700;
}

.font-reg {
  font-weight: 400;
}

/* ----------------------- bg colors ---------------------------*/
.body-bg {
  background-color: #FAFAFA;
}

.homepage-header-bg {
  background-color: #FEE54B;
}

.sk-hpage-header-bg {
  background-color: #32D4EC;
}

/* ----------------------- colors ---------------------------*/
.color-black {
  color: #131313;
}

.color-black-bg {
  background-color: #131313;
}

.color-white {
  color: #ffffff;
}

.color-white-bg {
  background-color: #ffffff;
}

.color-light-white {
  color: #FAFAFA;
}

.color-light-white-bg {
  background-color: #FAFAFA;
}

.color-brand {
  color: #2152FF;
}

.color-brand-bg {
  background-color: #2152FF;
}

.color-gray {
  color: #919192;
}

.color-gray-bg {
  background-color: #919192;
}

.color-gray-2 {
  color: #A1A1A1;
}

.color-gray-2-bg {
  background-color: #A1A1A1;
}

.color-white-dsrk {
  color: rgba(255, 255, 255, 0.6);
}

.color-white-dsrk-bg {
  background-color: rgba(255, 255, 255, 0.6);
}

/* ----------------------- retina-img ---------------------------*/
.retina-img {
  width: 50%;
  height: auto;
}

@media only screen and (max-width: 47.94em) {
  .br-mobile {
    display: block;
  }
}

.br-desktop {
  display: block;
}

.border-bottom-1 {
  border-bottom: 1px solid #E1E1E1;
}

.border-bottom-2 {
  border-bottom: 1px solid rgba(145, 145, 146, 0.2);
}

/*import web-component styles ------------*/
.cart-has-product {
  position: relative;
}

.cart-has-product::after {
  position: absolute;
  content: '';
  background-color: #2152FF;
  height: 1rem;
  width: 1rem;
  right: 2px;
  top: 1rem;
  border-radius: 50%;
}

.country_select-arrow {
  font-size: 1.4rem;
  margin-left: .5rem;
}

.country__mobile {
  width: 2.2rem;
}

.play-icon {
  margin-right: .8rem;
  font-size: 2.4rem;
  vertical-align: middle;
}

@media only screen and (max-width: 47.94em) {
  .play-icon {
    font-size: 2rem;
    vertical-align: text-bottom;
  }
}

.sk-header__offer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.sk-header__offer--link {
  text-decoration: none;
}

.sk-header__offer--link:hover {
  cursor: pointer;
  color: #ffffff;
}

.sk-header__logo-d {
  height: 4rem;
}

.sk-header__icon {
  height: 2.4rem;
}

.sk-header__country-icon {
  height: 1.7rem;
}

.sk-header__nav-desktop {
  display: block;
}

@media only screen and (max-width: 47.94em) {
  .sk-header__nav-desktop {
    display: none;
  }
}

.sk-header__user-m {
  margin-right: 10px;
}

.sk-header__nav-mobile {
  display: none;
}

@media only screen and (max-width: 47.94em) {
  .sk-header__nav-mobile {
    display: block;
  }
  .sk-header__nav-mobile--logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 8.786rem;
    height: 3rem;
  }
}

.sk-header__navbar {
  padding: 1rem 0;
}

@media only screen and (max-width: 47.94em) {
  .sk-header__navbar {
    padding: 0.5rem 0;
  }
}

.sk-main__top {
  margin-top: 6.3rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__top {
    padding: 0 1.8rem;
    margin-top: 3rem;
  }
}

.sk-main__title {
  margin-bottom: 4rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__title {
    margin-bottom: 3rem;
  }
}

.sk-main__title-b {
  margin-top: 1rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__title-b {
    margin-top: .5rem;
  }
}

.sk-main__banner {
  padding: 5rem 8.5rem;
  border-radius: 2rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__banner {
    padding: 2.7rem 3rem;
    text-align: center;
  }
}

.sk-main__left {
  margin-top: 5.5rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__left {
    margin-top: 0;
  }
}

@media only screen and (max-width: 47.94em) {
  .sk-main__subtitle-m {
    font-size: 2.4rem;
    line-height: 3.1rem;
  }
}

.sk-main__how-it-work {
  margin-top: 3rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__how-it-work {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 47.94em) {
  .sk-main__how-it-work .a-link {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

.sk-main__banner-btn {
  margin-top: 4.5rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__banner-btn {
    margin-top: 1.5rem;
  }
}

.sk-main__banner-img {
  width: 46.463rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__banner-img {
    width: 21.1rem;
  }
}

@media only screen and (max-width: 47.94em) {
  .sk-main__right {
    margin-top: 2.4rem;
  }
}

.sk-main__products {
  margin-top: 5rem;
}

.sk-main__product {
  border-radius: 2rem;
  margin-bottom: 3rem;
  padding: 3rem 2rem 4.8rem 2rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__product {
    margin-bottom: 1rem;
    padding: 1rem 0.5rem 1.6rem 0.5rem;
  }
}

.sk-main__product-img {
  height: 15.8rem;
  width: 17.9rem;
  margin: 0 auto 1rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__product-img {
    width: 8.72rem;
    height: 8.1rem;
  }
}

.sk-main__product-img img {
  max-height: -webkit-fill-available;
}

.sk-main__product-btn {
  margin-top: 0.5rem;
}

.sk-main__product-details {
  height: 7.5rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__product-details {
    height: 5.5rem;
  }
}

.sk-main__product-title {
  line-height: 2.1rem;
  height: 4.5rem;
}

@media only screen and (max-width: 47.94em) {
  .sk-main__product-title {
    line-height: 1.5rem;
    height: 2.8rem;
  }
}

@media only screen and (max-width: 47.94em) {
  .sk-main__custom-pad-l {
    padding-right: 0.5rem;
  }
}

@media only screen and (max-width: 47.94em) {
  .sk-main__custom-pad-r {
    padding-left: 0.5rem;
  }
}

.footer {
  padding-top: 3.2rem;
}

@media only screen and (max-width: 47.94em) {
  .footer {
    padding: 3.2rem 2rem 0;
    margin-top: 1rem;
  }
}

.footer__top {
  padding-bottom: 3rem;
}

.footer__logo {
  width: 8.185rem;
  height: 3.572rem;
}

.footer__nav {
  margin-top: 3.5rem;
}

.footer__nav-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
}

@media only screen and (max-width: 47.94em) {
  .footer__nav-content {
    flex-direction: column;
  }
}

@media only screen and (max-width: 47.94em) {
  .footer__nav-item:not(:first-child) {
    margin-top: 2.2rem;
  }
}

@media only screen and (max-width: 47.94em) {
  .footer__nav-item-d {
    display: none;
  }
}

.footer__nav-item-m {
  display: none;
}

@media only screen and (max-width: 47.94em) {
  .footer__nav-item-m {
    display: block;
    border-bottom: 1px solid rgba(145, 145, 146, 0.2);
  }
}

.footer__links-list {
  list-style: none;
}

.footer__links-list li {
  display: block;
  line-height: 2.1rem;
}

.footer__link {
  text-transform: capitalize;
}

.footer__link:hover {
  color: #919192;
  cursor: pointer;
}

.footer__social-icon {
  list-style: none;
  margin-left: -0.7rem;
  margin-top: 0.4rem;
}

.footer__social-icon li {
  display: inline;
}

.footer__social-icon li:not(:last-child) {
  margin-right: 2.4rem;
}

@media only screen and (max-width: 47.94em) {
  .footer__social-icon li:not(:last-child) {
    margin-right: 1.4rem;
  }
}

.footer__social-icon li img {
  width: 2rem;
  height: 2rem;
}

@media only screen and (max-width: 47.94em) {
  .footer__payments-title {
    margin-left: -.5rem;
  }
}

.footer__payments {
  margin-top: 1.8rem;
}

.footer__verified {
  height: 3.7rem;
}

.footer__payments-icons {
  list-style: none;
  margin-left: -0.6rem;
  margin-top: 1.8rem;
}

.footer__payments-icons li {
  display: inline-block;
}

.footer__payments-icons li img {
  width: 4.251rem;
  height: 3.694rem;
}

.footer__bottom {
  padding: 0.8rem 0 1.2rem;
}

@media only screen and (max-width: 47.94em) {
  .footer__bottom {
    padding-bottom: 2rem;
  }
}

.footer__bottom-content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media only screen and (max-width: 47.94em) {
  .footer__bottom-content {
    flex-direction: column;
  }
}

.footer__bottom-copy {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 47.94em) {
  .footer__bottom-copy {
    padding: .5rem 0 1rem;
  }
}

.footer__bottom-text-left {
  text-align: left;
}

.footer__bottom-text-right {
  text-align: right;
}

@media only screen and (max-width: 47.94em) {
  .footer__bottom-text-right {
    text-align: left;
  }
}

.footer .expend-icon {
  padding: .6rem 0;
  border-top: 1px solid rgba(145, 145, 146, 0.2);
  position: relative;
}

.footer .expend-icon::after {
  position: absolute;
  content: url(../images/down.png);
  right: 0;
}

.footer .expend-icon[aria-expanded="false"]::after {
  transform: rotate(0deg);
  top: .4rem;
}

.footer .expend-icon[aria-expanded="true"]::after {
  transform: rotate(180deg);
  top: 1rem;
}
