// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

$color-black: #131313;
$link-color: #475bc7;
$color-white: #fff;
$color-red: #ff0000;

// responsive breakpoints
$bp-medium: 50em; //800px
$bp-small: 31.25em; //500px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.6%;

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  color: $color-black;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: 5rem max-content 3rem;
  grid-template-columns: 1fr;
  max-width: 1170px;
  margin: 3rem auto 0;
  padding: 3rem;
  background-color: rgba($link-color, 0.1);
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @media only screen and (max-width: $bp-small) {
    justify-content: center;
    align-content: center;
    grid-template-columns: unset;
    padding-bottom: 2rem;
  }
  &__title-box {
    @media only screen and (max-width: $bp-small) {
      padding-bottom: 1rem;
      text-align: center;
    }
  }
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    font-family: $font-display;
  }

  &__social {
    align-self: center;
    justify-self: center;
    position: relative;

    &--logo {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }

    .icon {
      fill: $color-black;
      height: 2rem;
      width: 2rem;
      transform: scale(1);
      transition: all 0.2s;

      &:hover {
        fill: $link-color;
      }
    }

    span {
      font-size: 1rem;
      text-transform: uppercase;
      font-family: $font-display;
      font-weight: 400;
      color: $link-color;
      display: block;
      position: absolute;
      text-align: center;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all 0.2s;

      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }

    &:hover {
      .icon {
        transform: scale(1.2);
      }

      span {
        top: 4rem;
        opacity: 1;
      }
    }
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  padding-top: 3.5rem;
  padding-bottom: 4rem;
}

.project {
  &__title {
    font-size: 2.5rem;
    line-height: 150%;
    margin-bottom: 0.3rem;
  }

  &__img {
    width: 100%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    transition: all 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__details {
    font-size: 1.5rem;
    min-height: 3rem;
    margin-top: 5px;
    text-align: center;
  }

  &__icon {
    height: 1.5rem;
    width: 2.5rem;
    fill: $color-white;
  }

  &__links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: $link-color;
    grid-template-rows: 4rem;
    justify-items: center;
    align-items: center;
    font-size: 1.6rem;
    text-transform: uppercase;

    a {
      text-decoration: none;
      font-weight: 400;
      color: $color-white;
      transform: scale(1);
      transition: all 0.2s;

      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: repeat(2, min-content);

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.footer {
  justify-self: center;
  font-size: 1.6rem;
  color: $link-color;

  &__icon {
    fill: $color-red;
    height: 1.5rem;
    width: 2.5rem;
    transform: translateY(3px);
  }

  &__link {
    text-decoration: none;
    color: currentColor;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.2);
    }
  }
}
