.ek-modal-hands {
  &__content {
    padding: 3rem 2.1rem 2.2rem;
    border-radius: 0.5rem;
    border: none;
    background: linear-gradient(31.37deg, #ff6d80 0%, #fd917b 86.08%);
  }

  &__header {
    border-bottom: none;
    padding-bottom: 0.8rem;
  }

  #{&}__close {
    padding: 0.7rem;
    margin: -2rem -1.2rem -1rem auto;
    font-size: 2rem;
    background-color: $color-white;
    line-height: 1rem;
    opacity: 1;
    border-radius: 50%;
  }

  &__footer {
    border-top: none;
    margin-top: 25px;
  }

  &__agree-btn {
    max-width: 17.5rem;
    border-radius: 5rem;
    color: #fe837d;

    &:hover {
      background-color: rgba($color-white, 0.9);
    }
  }
}
