//######################## variabels ###############################*/

// ------------------ Font Family ---------------------*/

$acumin-pro: acumin-pro, sans-serif;
$font-rift: rift, sans-serif;


// ------------------ colors -------------------------*/
$body-bg-color:       #FAFAFA;
$homepage-header-bg:  #FEE54B;

$sk-hpage-header-bg:  #32D4EC;

$color-white:         #ffffff;
$color-white-dark:   rgba(255, 255, 255, 0.6);
$color-light-white:   #FAFAFA;
$color-white-country: #F7F7F7;
$color-black:         #131313;
$color-gray:          #919192;
$color-gray-2:        #A1A1A1;

$color-brand:         #2152FF;
$btn-hover-color:     #204ceb;

$btn-text-color:      #FCFDFF;
$border-color-1:      #E1E1E1;
$border-color-2:      rgba(145, 145, 146, 0.2);
$border-color-3:      #F5F5F5;


// ------------------ Font sizes ---------------------*/

$font-big: 7.2rem;
$font-mid-big: 5.8rem;
$font-mid-small: 3.6rem;
$font-small: 2rem;

$default-fontsize: 2rem;

$btn-default-fontsize: 1.6rem;

//----------------------- font-size mobile ------------*/
$font-big-m: 4rem;
$font-mid-big-m: 3rem;
$font-mid-small-m: 2.4rem;
$font-small-m: 1.4rem;

$default-fontsize-m: 1.6rem;

//--------------------- btn font size mobile ----------*/
$font-18: 1.8rem;
$font-14: 1.4rem;
$font-12: 1.2rem;

// ------------------ Font weight ---------------------*/
$font-bold: 700;
$font-regular: 400;

// ------------------ line height ---------------------*/
$line-height-72: 7.2rem;
$line-height-52: 5.2rem;
$line-height-40: 4.0rem;
$line-height-36: 3.6rem;
$line-height-34: 3.4rem;
$line-height-33: 3.3rem;
$line-height-31: 3.1rem;
$line-height-28: 2.8rem;
$line-height-25: 2.5rem;
$line-height-24: 2.4rem;
$line-height-22: 2.2rem;
$line-height-21: 2.1rem;
$line-height-20: 2.0rem;
$line-height-19: 1.9rem;
$line-height-18: 1.8rem;
$line-height-15: 1.5rem;
$line-height-14: 1.4rem;


// ------------------ letter spacing ---------------------*/
$letter-spacing-03: -0.03em;
$letter-spacing-05: -0.05em;
$letter-spacing-p2: 0.02em;
$letter-spacing-p5: 0.05em;
$letter-spacing-p7: 0.07em;


// ------------------ width ---------------------------- */
$buynow-btn-width: 25.9rem;
$buynow-btn-width-l: 22.4rem;

$buynow-btn-width-m: 13.46rem;
$buynow-btn-width-l-m: 20.8rem;

$button-large-width: 26.8rem;

$country-bar-width: 30.5rem;