.mb-main {
  display: flex;
  flex-direction: row;

  @include respond(tab_port) {
    flex-direction: column;
  }

  &__daily {
    background-color: $color-grey-dark-1;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    @include respond(tab_port) {
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  &__paid,
  &__spend {
    margin: 0 auto;
  }

  &__summarry {
    background-color: $color-grey-dark-2;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 6rem;

    @include respond(tab_port) {
      padding-top: 4rem;
      // padding-bottom: 28rem;
      padding-bottom: 16rem;
    }
  }

  &__summarry-text {
    padding-bottom: 1rem;
    @include respond(tab_port) {
      padding-bottom: 5rem;
    }

    h1 {
      color: $color-grey-light-1;
      font-size: 2.6rem;
    }
  }

  &__summarry-graph {
    h2 {
      color: $color-grey-light-1;
    }
  }
}

.mb__footer {
  font-size: 1.6rem;
  text-align: center;
  padding: 0.6rem;
  background: $color-primary;
  color: $color-grey-light-1;

  a {
    color: $color-grey-light-1;
    text-decoration: none;

    &:hover {
      color: $color-grey-light-1;
      text-decoration: none;
    }
  }

  span {
    color: red;
  }
}
