.sk-product {
  &__banner {
    padding-top: 80px;
    margin-bottom: 100px;

    @include respond(phone) {
      padding-top: 25px;
      margin-bottom: 50px;
    }
  }

  &__thum-img {
    height: auto;
    margin: 0 auto;

    @include respond (phone) {
      height: 198px;
    }
  }

  &__main-img {
    margin-bottom: 15px;

    .slick-arrow {
      width: 34px;
      height: 34px;
      -webkit-box-shadow: 0px 1px 4px rgba(32, 38, 62, 0.25);
      box-shadow: 0px 1px 4px rgba(32, 38, 62, 0.25);
      border-radius: 50%;
      z-index: 10;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      top: 42%;

      @include respond (phone) {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      &:hover {
        -webkit-box-shadow: 0px 0.5px 2px rgba(32, 38, 62, 0.25);
        box-shadow: 0px 0.5px 2px rgba(32, 38, 62, 0.25);
      }
    }

    .slick-prev {
      left: 35px;

      @include respond (phone) {
        left: 5px;
      }
    }

    .slick-next {
      right: 35px;

      @include respond (phone) {
        right: 5px;
      }
    }

    .slick-prev:before {
      content: "\f053";
      margin-right: 2px;
    }

    .slick-next:before {
      content: "\f054";
      margin-left: 2px;
    }

    .slick-prev:before,
    .slick-next:before {
      font-family: $FontAwesome;
      color: $color-brand;
      opacity: 1;
      font-size: 12px;

      &:hover {
        color: $btn-hover-color;
      }
    }
  }

  .slick-slide:focus {
    outline: none;
  }

  &__subtitle {
    margin-left: 60px;
    margin-top: 15px;

    @include respond(phone) {
      margin-left: 0;
    }

    span {
      display: block;
      color: $color-pink;
    }
  }

  &__flavor-img {
    margin-top: 55px;

    @include respond (phone) {
      margin-top: 20px;
    }
  }

  &__flavor-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    li {
      display: block;
      cursor: pointer;
      padding-bottom: 7px;
      border-bottom: 1px solid transparent;
      width: unset !important;

      &:not(:last-child) {
        margin-right: 25px;
      }

      img {
        width: 64px;
        height: auto;

        @include respond (phone) {
          width: 48px;
        }
      }
    }

    li:hover,
    .active {
      border-bottom: 1px solid #000;
    }
  }
}
