.sk-product__item {

  &-info {
    padding-top: 93px;
    padding-bottom: 90px;

    @include respond(phone) {
      padding-top: 0;
      padding-bottom: 50px;
    }
  }

  &-suggested {
    @include customWidth($width-1130);
    padding-top: 60px;
    padding-bottom: 77px;

    @include respond(tab_land) {
      @include customWidth(100%);
      padding-top: 0;
      padding-bottom: 50px;
    }

    .suggested-right-content {
      margin-top: 5px;

      p {
        &:not(:first-of-type) {
          margin-top: 25px;
        }
      }
    }
  }

  &-left-content {
    @include respond(phone) {
      margin-bottom: 10px;
    }
  }

  &-video {
    width: 500px;

    @include respond(tab_land) {
      width: 100%;
      padding-bottom: 10px;
    }
  }

  &-img {
    width: 522px;

    @include respond(tab_land) {
      width: 100%;
    }
  }

  &-download {
    font-family: $font-rift;
    font-size: $btn-default-fontsize;
    line-height: $line-height-19;
    font-weight: $font-bold;
    font-style: normal;
    letter-spacing: $letter-spacing-p5;
    margin-top: 26px;
    display: block;

    img {
      height: 24px;
      width: 24px;
      margin-top: -5px;
      margin-right: 5px;
    }
  }

  &-right-content {
    width: 550px;

    @include respond(tab_land) {
      width: 100%;
    }
  }
  &-text {
    margin-top: 20px;
  }

  &-feature {
    list-style: none;
    margin-top: 40px;

    li {
      display: block;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
}
