.sk-country {
  max-width: $country-bar-width;
  width: 100%;
  min-height: 100vh;
  height: auto;

  &__list {
    list-style: none;

    > li {
      display: block;
      border-top: 1px solid $border-color-3;

      &:last-child {
        border-bottom: 1px solid $border-color-3;
      }
    }

    #{&}-close {
      display: inline-block;

      .cross-sign {
        width: 0.8rem;
        height: 0.8rem;
      }
    }
  }

  &__link {
    display: block;
    padding: 1.4rem 2rem;

    max-width: 100%;
    text-align: left;
    border-radius: unset;

    &:hover {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__logo {
    width: 2.2rem;
    height: 1.7rem;
    margin-top: -3px;
    margin-right: 0.7rem;
  }

  &__sub-list {
    background-color: $color-white-country;
    list-style: none;

    > li {
      padding: 1.3rem 0;

      &:not(:last-child) {
        border-bottom: 1px solid $border-color-1;
      }
    }
  }

  &__sub-link {
    padding-left: 5rem;
    display: block;

    &:hover {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__expend-icon {
    position: relative;

    &::after {
      position: absolute;
      content: "\f078";
      font-family: "Font Awesome 5 Pro";
      right: 2rem;
      font-size: 1.5rem;
      color: $color-gray;
    }

    &[aria-expanded="false"]::after {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }

    &[aria-expanded="true"]::after {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
    }
  }
}
