.sk-header {
  &__offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 0;

    &--link {
      text-decoration: none;

      &:hover {
        cursor: pointer;
        color: $color-white;
      }
    }
  }
  &__logo-box {
    max-width: 11.8rem
  }

  &__logo-d {
    width: 100%
  }

  &__icon {
    height: 2.4rem;
  }

  &__country-icon {
    height: 1.7rem;
  }

  &__nav-desktop {
    display: block;

    @include respond(phone) {
      display: none;
    }
  }

  &__user-m {
    margin-right: 10px;
  }

  &__nav-mobile {
    display: none;

    @include respond(phone) {
      display: block;

      &--logo {
        @include centerContent;
        width: 8.786rem;
        height: 3rem;
      }
    }
  }

  &__navbar {
    padding: 1rem 0;

    @include respond(phone) {
      padding: 0.5rem 0;
    }
  }
}
