/* The custom-radio */
.custom-radio {
  display: block;
  position: relative;
  margin-bottom: 1px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  // top: 16px;
  // left: 14px;

  top: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $color-black;
}

.custom-radio:hover input ~ .checkmark {
  background-color: $color-white;
}

.custom-radio input:checked ~ .checkmark {
  border-color: $color-brand;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio input:checked ~ .checkmark:after {
  display: block;
}

.custom-radio .checkmark:after {
  width: 8px;
  height: 8px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $color-brand;
}
