.sk-main {
  &__top {
    margin-top: 63px;

    @include respond(phone) {
      padding: 0 18px;
      margin-top: 30px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @include respond(phone) {
      margin-bottom: 30px;
    }

    &-b {
      margin-top: 10px;

      @include respond(phone) {
        margin-top: 5px;
      }
    }
  }

  &__banner {
    padding: 50px 85px;
    border-radius: 20px;

    @include respond (tab_land) {
      margin: 0 15px;
    }

    @include respond (tab_port) {
      padding: 50px 50px;
    }

    @include respond(phone) {
      padding: 27px 30px;
      text-align: center;
      margin: 0;
    }
  }

  &__banner-slider {
    .slick-arrow {
      width: 48px;
      height: 48px;
      background-color: $color-white;
      -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 50%;
      z-index: 10;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      top: 42%;

      &:hover {
        -webkit-box-shadow: 0px 0.5px 2px rgba(32, 38, 62, 0.25);
        box-shadow: 0px 0.5px 2px rgba(32, 38, 62, 0.25);
      }
    }

    .slick-prev {
      left: -27px;

      @include respond (tab_land) {
        left: 25px;
      }
    }

    .slick-next {
      right: -27px;

      @include respond (tab_land) {
        right: 25px;
      }
    }

    .slick-prev:before,
    .slick-next:before {
      font-family: $FontAwesome;
      color: $color-brand;
      opacity: 1;
      font-size: 22px;

      &:hover {
        color: $btn-hover-color;
      }
    }

    .slick-prev:before {
      content: "\f053";
      margin-right: 2px;
    }

    .slick-next:before {
      content: "\f054";
      margin-left: 2px;
    }
  }
  
  &__right {
    margin-right: -60px;

    @include respond (phone) {
      margin-right: 0;
    }
  }

  &__left {
    margin-top: 50px;

    @include respond(tab_port) {
      margin-top: 0;
    }
  }

  &__subtitle-m {
    @include respond(phone) {
      font-size: $font-mid-small-m;
      line-height: $line-height-31;
    }
  }

  &__how-it-work {
    margin-top: 30px;
    @include respond(phone) {
      margin-top: 10px;
    }
    .a-link {
      @include respond(phone) {
        font-size: $default-fontsize-m;
        line-height: $line-height-24;
      }
    }
  }

  &__banner-btn {
    margin-top: 45px;

    @include respond(phone) {
      margin-top: 15px;
    }
  }

  &__banner-img {
    width: 464.63px;

    @include respond(phone) {
      // width: 211px;
      @include customWidth (211px)
    }
  }

  &__right {
    @include respond(phone) {
      margin-top: 24px;
    }
  }
}
