.sk-product {
  &__review {
    @include customWidth($width-950);
    padding-top: 47px;
    padding-bottom: 66px;

    @include respond(tab_port) {
      @include customWidth(100%);
      padding: 0 15px 15px;
    }
  }

  &__average-review {
    margin-bottom: 50px;

    @include respond (phone) {
      margin-bottom: 15px;
      margin-top: -7px;
    }
  }

  .review-star {
    font-size: $font-12;

    @include respond (phone) {
      font-size: 10px;
    }

    &:not(:first-of-type) {
      margin-left: -5px;
    }

    &-fill {
      color: $color-for-star;
    }

    &-null {
      color: $color-gray-3;
    }
  }

  &__review-summery {
    margin-left: 12px;
  }

  &__review-stars {
    margin-top: -5px;
    margin-bottom: -15px;

    @include respond (phone) {
      margin-top: -7px;
    }
  }

  &__total-review {
    font-family: $acumin-pro;
    font-style: normal;
    font-weight: $font-regular;
    font-size: $font-12;
    line-height: $line-height-18;
  }

  &__users-review {
    min-height: 180px;

    &:not(:last-of-type) {
      margin-bottom: 54px;
    }

    @include respond(phone) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border-bottom: 2px solid $review-user-color;
      padding-bottom: 20px;

      &:not(:last-of-type) {
        margin-bottom: 25px;
      }
      
    }
  }

  &__users-info {
    width: $width-200;
    border-right: 2px solid $review-user-color;
    margin-top: 5px;

    @include respond(phone) {
      @include customWidth(100%);
      border-right: none;
    }
  }

  &__users-img {
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $review-user-color;
  }

  &__users-name {
    margin-left: 11px;

    .users-name {
      margin-bottom: -5px;
      margin-top: 2px;
    }
  }

  &__review-details {
    width: $width-730;
    padding: 0 10px 10px 32px;

    @include respond(phone) {
      @include customWidth(100%);
      padding: 7px 0 10px;
    }
  }

  &__s-review-text {
    padding-bottom: 0;
  }

  &__s-review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 8px;

    &-stars {
      margin-top: -5px;
    }

    .review-time {
      margin-left: 8px;
    }
  }

  &__s-title {
    margin-bottom: 8px;
  }

  &__more-review {
    margin-top: 36px;
  }
}
