.sk-product {
  &__info {
    display: block;
  }

  &__info--desktop {
    @include respond(tab_port) {
      display: none;
    }
  }

  &__info--mobile {
    display: none;
    @include respond(tab_port) {
      display: block;
      padding-bottom: 25px;

      .accordion {
        border-top: 1px solid $box-shadow-1;
      }
    }
  }

  &__info-nav {
    @include customWidth($width-1130);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);

    @include respond(tab_land) {
      @include customWidth(100%);
    }
  }

  &__info-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;

    @include respond(tab_port) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      padding: 0 15px;
    }

    li {
      display: block;
      width: 100%;
    }
  }

  &__info-btn,
  &__info-btn-mobile {
    width: inherit;

    color: $color-black;
    font-family: $font-rift;
    font-style: normal;
    font-weight: $font-bold;
    font-size: $default-fontsize-m;
    line-height: $line-height-19;
    text-align: center;
    letter-spacing: $letter-spacing-p5;
    text-transform: uppercase;
    background-color: $color-white;

    padding: 0 30px;
    border: 1px solid $border-color-3;
    border-bottom: 2px solid transparent;
    min-height: 74px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }
  }


  &__info-btn {
    &:hover,
    &.active {
      cursor: pointer;
      color: $color-brand;
      border-bottom: 2px solid $color-brand;
    }
  }


  &__info--mobile-card {
    border-radius: 0;
    border: none;
    // box-shadow: 0px 1px 0px $box-shadow-1;
    border-bottom: 1px solid $box-shadow-1;

    // &:not(:last-of-type) {
    //   border-bottom: 1px solid $box-shadow-1;
    // }
  }
  

  &__info-btn-mobile {
    width: 100%;
    padding: 0 15px;
    text-align: left;
    border-bottom: none;
    position: relative;

    &::after {
      position: absolute;
      font-family: $FontAwesome;
      font-size: $font-12;
      right: 20px;
      
    }

    &[aria-expanded="true"] {
      border-bottom: none;
      color: $color-brand;

      &::after {
        content: "\f068";
      }
    }

    &[aria-expanded="false"] {
      &::after {
        content: "\f067";
      }
    }
  }
}
