// MEDIA QUERY MANAGER

@mixin respond($breakpoint) {
  @if $breakpoint == phone_small {
    @media only screen and (max-width: 340px) {
      @content;
    } //340px
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 767px) {
      @content;
    } //767px
  }

  @if $breakpoint == tab_port {
    @media only screen and (max-width: 900px) {
      @content;
    } //900 px
  }

  @if $breakpoint == tab_land {
    @media only screen and (max-width: 1200px) {
      @content;
    } //1200px
  }
}

// center content
@mixin centerContent {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin customWidth($width) {
  width: $width;
  margin: 0 auto;
}
