h1 {
  font-size: $h1-font-size;
  font-family: $h1-font-family;
  font-style: $h1-font-style;
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  letter-spacing: $h1-letter-spacing;

  @include respond(phone) {
    font-size: $font-big-m;
    line-height: $line-height-40;
  }
}

h2 {
  font-size: $h2-font-size;
  font-family: $h2-font-family;
  font-style: $h2-font-style;
  font-weight: $h2-font-weight;
  line-height: $h2-line-height;
  letter-spacing: $h2-letter-spacing;

  @include respond(phone) {
    font-size: $font-mid-big-m;
    line-height: $line-height-33;
  }
}

h3 {
  font-size: $h3-font-size;
  font-family: $h3-font-family;
  font-style: $h3-font-style;
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  letter-spacing: $h3-letter-spacing;

  @include respond(phone) {
    font-size: $font-mid-small-m;
    line-height: $line-height-34;
  }
}

h4 {
  font-size: $h4-font-size;
  font-family: $h4-font-family;
  font-style: $h4-font-style;
  font-weight: $h4-font-weight;
  line-height: $h4-line-height;
  letter-spacing: $h4-letter-spacing;

  @include respond(phone) {
    font-size: $font-small-m;
    line-height: $line-height-15;
  }
}

h6 {
  font-size: $h6-font-size;
  font-family: $h6-font-family;
  font-style: $h6-font-style;
  font-weight: $h6-font-weight;
  line-height: $h6-line-height;
  letter-spacing: $h6-letter-spacing;
}

p {
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-regular;
  font-size: $default-fontsize;
  line-height: $line-height-28;

  @include respond(phone) {
    font-size: $default-fontsize-m;
    line-height: $line-height-24;
  }
}

.disclaimer-reg {
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-regular;
  font-size: $font-14;
  line-height: $line-height-21;
}

.disclaimer-bold {
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-bold;
  font-size: $font-14;
  line-height: $line-height-21;
}

.p-small {
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-regular;
  font-size: $default-fontsize-m;
  line-height: $line-height-24;
}

.copyright-text {
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-regular;
  font-size: $font-12;
  line-height: $line-height-18;
  letter-spacing: $letter-spacing-p2;
}

.learn-bold {
  font-family: $font-rift;
  font-style: normal;
  font-weight: $font-bold;
  font-size: $font-12;
  line-height: $line-height-20;
  letter-spacing: $letter-spacing-p5;
}

/* ------------------------ Buttons -----------------------------*/

.button {
  font-family: $font-rift;
  font-size: $btn-default-fontsize;
  font-style: normal;
  font-weight: $font-bold;
  line-height: $line-height-19;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-p5;
  text-decoration: none;
  color: $color-brand;
  background-color: transparent;
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  max-width: fit-content;
  text-align: center;
  white-space: nowrap;

  /*--- for button ---*/
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button-primary {
  color: $btn-text-color;
  background-color: $color-brand;

  &:hover {
    background-color: $btn-hover-color;
  }

  &:focus {
    outline: none;
  }
}

.buy-now {
  max-width: $buynow-btn-width;
  padding: 15.3px 10px;
  height: 48px;

  @include respond(phone) {
    max-width: $buynow-btn-width-m;
    padding: 11.2px 10px;
    font-size: $font-14;
    line-height: $line-height-14;
    height: auto;
  }
}

.buy-now-lg {
  max-width: $buynow-btn-width-l;
  padding: 20px 10px;
  height: 58px;

  @include respond(phone) {
    max-width: $buynow-btn-width-l-m;
    padding: 15px 10px;
    font-size: $font-18;
    line-height: $line-height-22;
    height: auto;
  }
}

.button-large {
  max-width: $button-large-width;
  padding: 18px 10px 20px;
  font-size: $font-18;
  line-height: $line-height-22;
  letter-spacing: $letter-spacing-p5;
  height: 58px;

  @include respond(phone) {
    max-width: 100%;
  }
}

.button-large-2 {
  max-width: $button-large-width;
  padding: 20px 10px;
  font-size: $font-18;
  line-height: $line-height-22;
  padding-right: 20px;
  letter-spacing: $letter-spacing-p7;

  @include respond(phone) {
    max-width: 100%;
    padding: 15px 10px;
    font-size: $btn-default-fontsize;
    line-height: $line-height-19;
    letter-spacing: $letter-spacing-p5;
  }
}

.button-icon {
  position: relative;

  &::after {
    content: "\f061";
    font-family: FontAwesome;
    font-size: 14px;
    margin-left: 28px;
    position: absolute;

    @include respond(phone) {
      content: none;
    }
  }
}

.add-to-cart-icon {
  background-image: url(../images/cart-icon-w.png);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 20px 50%;
}

/*------------ links -------------------*/

.a-link {
  font-size: $default-fontsize;
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-bold;
  line-height: $line-height-28;
  letter-spacing: $letter-spacing-05;
  border: none;
  background-color: transparent;
  text-decoration: none;
}

.button-link {
  font-family: $font-rift;
  font-size: $btn-default-fontsize;
  line-height: $line-height-19;
  font-style: normal;
  font-weight: $font-bold;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-p5;
  text-decoration: none;
  color: $color-brand;
  transition: all 0.2s;
  display: block;
}

.link-hover {
  color: $color-brand;

  &:hover {
    color: $btn-hover-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

/* ----------------------- font weight ---------------------------*/

.font-bold {
  font-weight: $font-bold;
}

.font-reg {
  font-weight: $font-regular;
}

/* ----------------------- bg colors ---------------------------*/
.body-bg {
  background-color: $body-bg-color;
}

.homepage-header-bg {
  background-color: $homepage-header-bg;
}

.sk-hpage-header-bg {
  background-color: $sk-hpage-header-bg;
}

/* ----------------------- colors ---------------------------*/
.color {
  &-black {
    color: $color-black;
  }

  &-black-bg {
    background-color: $color-black;
  }

  &-white {
    color: $color-white;
  }

  &-white-bg {
    background-color: $color-white;
  }

  &-light-white {
    color: $color-light-white;
  }

  &-light-white-bg {
    background-color: $color-light-white;
  }

  &-brand {
    color: $color-brand;
  }

  &-brand-bg {
    background-color: $color-brand;
  }

  &-gray {
    color: $color-gray;
  }

  &-gray-bg {
    background-color: $color-gray;
  }

  &-gray-2 {
    color: $color-gray-2;
  }

  &-gray-2-bg {
    background-color: $color-gray-2;
  }

  &-white-dsrk {
    color: $color-white-dark;
  }

  &-white-dsrk-bg {
    background-color: $color-white-dark;
  }

  &-green {
    color: $color-green;
  }

  &-red {
    color: $color-red;
  }
}

/* retina-img ----------------*/
.retina-img {
  width: 50%;
  height: auto;
}

.full-width {
  max-width: 100%;
}

.display-none {
  display: none;
}

/* sk-form-control ---------*/
.sk-form-control {
  height: 58px;
  border-radius: 5px;
  font-family: $acumin-pro;
  font-style: normal;
  font-weight: $font-regular;
  font-size: $default-fontsize;
  line-height: $line-height-28;
  border: 1px solid $color-gray-3;
  color: $color-black;

  &:focus {
    box-shadow: inset 0px 0px 5px #0534D8;
    border-color: $color-brand;
  }

  ::placeholder {
    color: $color-gray;
  }
}
