//######################## variabels ###############################*/

// ------------------ Font Family ---------------------*/

$acumin-pro: acumin-pro, sans-serif;
$font-rift: rift, sans-serif;
$FontAwesome: "FontAwesome";


// ------------------ colors -------------------------*/
$body-bg-color:       #FAFAFA;
$homepage-header-bg:  #FEE54B;

$sk-hpage-header-bg:  #32D4EC;

$color-white:         #ffffff;
$color-white-dark:    rgba(255, 255, 255, 0.6);
$color-white-dark-2:  #D3D3D3;
$color-light-white:   #FAFAFA;
$color-white-country: #F7F7F7;
$color-black:         #131313;
$color-gray:          #919192;
$color-gray-2:        #A1A1A1;
$color-gray-3:        #dadada;
$color-pink:          #FF37B5;
$color-green:         #219653;
$color-for-star:      #F3BE03;
$color-red:           #FA1F1F;

$color-brand:         #2152FF;
$btn-hover-color:     #204ceb;

$btn-text-color:      #FCFDFF;
$border-color-1:      #E1E1E1;
$border-color-2:      rgba(145, 145, 146, 0.2);
$border-color-3:      #F5F5F5;

$review-user-color:   #EBEBEB;

$box-shadow-1:        #E3E3E3;


// ------------------ Font sizes ---------------------*/

$font-big: 72px;
$font-mid-big: 58px;
$font-mid-small: 36px;
$font-small: 20px;

$default-fontsize: 20px;

$btn-default-fontsize: 16px;

//----------------------- font-size mobile ------------*/
$font-big-m: 40px;
$font-mid-big-m: 30px;
$font-mid-small-m: 24px;
$font-small-m: 14px;

$default-fontsize-m: 16px;

//--------------------- btn font size mobile ----------*/
$font-22: 22px;
$font-18: 18px;
$font-15: 15px;
$font-14: 14px;
$font-12: 12px;

// ------------------ Font weight ---------------------*/
$font-bold: 700;
$font-regular: 400;

// ------------------ line height ---------------------*/
$line-height-72: 72px;
$line-height-52: 52px;
$line-height-40: 40px;
$line-height-36: 36px;
$line-height-34: 34px;
$line-height-33: 33px;
$line-height-31: 31px;
$line-height-28: 28px;
$line-height-24: 24px;
$line-height-22: 22px;
$line-height-21: 21px;
$line-height-20: 20px;
$line-height-19: 19px;
$line-height-18: 18px;
$line-height-16: 16px;
$line-height-15: 15px;
$line-height-14: 14px;


// ------------------ letter spacing ---------------------*/
$letter-spacing-03: -0.03em;
$letter-spacing-05: -0.05em;
$letter-spacing-p2: 0.02em;
$letter-spacing-p5: 0.05em;
$letter-spacing-p7: 0.07em;


// ------------------ width ---------------------------- */
$buynow-btn-width:      259px;
$buynow-btn-width-l:    224px;

$buynow-btn-width-m:    135px ;
$buynow-btn-width-l-m:  208px;

$button-large-width:    268px;
$country-bar-width:     305px;
$cart-width:            375px;

$content-width:         400px;

$table-width:           570px;

$width-200:             206px;
$width-730:             730px;
$width-950:             950px;
$width-1130:            1130px;