.pp-broadcasts {
  background-color: $color-white-country;
  padding-top: 80px;

  @include respond(tab_port) {
    padding-top: 34px;
  }

  &__left {
    @include respond(tab_port) {
      margin-top: 30px;
      padding: 0 10px;
    }

    .broadcasts-img {
      width: 518px;
    }
  }

  &__right {
    margin-top: 90px;

    @include respond(tab_port) {
      margin-top: 0;
      padding: 0 33px;
    }
  }

  &__title {
    max-width: 493px;

    h2 {
      margin-bottom: 20px;

      @include respond(tab_port) {
        margin-bottom: 12px;
      }
    }
  }

  &__info {
    margin-top: 65px;
    max-width: 400px;

    @include respond(tab_port) {
      margin-top: 35px;
    }

    h4 {
      @include respond(tab_port) {
        font-size: $default-fontsize-m;
        line-height: 150%;
      }
    }
  }
}

.pp-info-icon {
  height: 20px;
  margin-right: 14px;
  margin-top: 5px;

  @include respond(tab_port) {
    height: 16px;
    margin-right: 8px;
    margin-top: 7px;
  }
}
